%h1= controller.action_name == 'search' ? 'Searching articles' : 'Listing articles'

= form_tag search_articles_path, method: 'get' do
  .input-group
    = text_field_tag :q, params[:q], class:'form-control', placeholder: 'Search...'
    %span.input-group-btn
      %button.btn.btn-default(type="submit")
        %span.glyphicon.glyphicon-search

  %hr


%table.table.table-hover
  %thead
    %tr
      %th Title
      - if controller.action_name == 'search'
        %th Content
      %th Owner
      %th CreatedTime
      %th
      %th

    %tbody
      - if controller.action_name == 'search'  
        - @articles.__send__ :each_with_hit do |article, hit|
          %tr
            %td.col-md-2= hit.try(:highlight).try(:title)   ? hit.highlight.title.join.html_safe : article.title
            %td.col-md-8= hit.try(:highlight).try(:attachment) ? hit.highlight.attachment.join('&hellip;').html_safe : "No content available"
            %td.col-md-2= article.user.name
            %td.col-md-4= article.created_at
            %td.col-md-1= link_to 'Show', article , class: 'btn btn-default btn-xs'
            %td.col-md-1= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-default btn-xs'
      - else
        - @articles.__send__ :each do |article|
          %tr
            %td.col-md-2= article.title

            %td.col-md-2= article.user.name
            %td.col-md-4= article.created_at
            %td.col-md-1= link_to 'Show', article , class: 'btn btn-default btn-xs'
            %td.col-md-1= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } , class: 'btn btn-default btn-xs'


.text-center
  =paginate @articles

%hr

%p(style="text-align: center; margin-bottom: 21px")
  = link_to 'New Article', new_article_path, class: 'btn btn-primary btn-xs', style: 'color: #fff' 
  = link_to 'All Articles', articles_path, class: 'btn btn-primary btn-xs', style: 'color: #fff' if params[:q] 

